#AddToCartModal {
    animation: opacityShifter .6s ease-out;
    background: rgb(201,201,201)!important;
    background: radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(221,221,221,1) 49%, rgba(198,198,198,1) 100%)!important;
    /* radial-gradient(circle, rgba(201,201,201,1) 0%, rgba(195,193,193,1) 49%, rgba(165,172,173,1) 100%)!important; */
    border-radius: 3px;
}

.addToCartModalParent {
    display: flex;
    /* border: 2px solid black; */
    height: 100%;
    flex-direction: column;
}
@keyframes opacityShifter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.addToCartModalCloseButtonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 4%;
}

.addToCartModalCloseButton:hover {
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}
.addToCartModalCloseButton {
    border-radius: 50%;
    position: relative;
    left: 14px;
    bottom: 14px;
    background: url('../../R.Assets/xButton.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 0%;
    height: 18px;
    width: 18px;
    border: 2px solid transparent;
}

.addToCartModalContentsParent {
    display: flex;
    /* border: 8px solid green; */
    height: 100%;
    width: 100%;
}

.addToCardModalContentsPictureContainer {
    border: 8px solid transparent;
    height: 93%;
    width: 30%;
}

.addToCardModalContentsPicture {
    width: 100%;
    transform: scale(.9);
    height: 100%;
}

.addToCardModalContentsDialogueContainer {
    border: 3px solid transparent;
    width: 36%;
    margin-top: 7px;
    margin-left: 7px;
}

.addToCardModalContentsProductName {
    border: 3px solid transparent;
    width: 98%;
    height: 18%;
    color: black;
    font-size: 18px;
}


.addToCardModalContentsProductCode {
    border: 3px solid transparent;
    width: 98%;
    height: 18%;
    color: black;
    font-size: 18px;
}

.addToCardModalContentsProductPrice {
    border: 3px solid transparent;
    width: 98%;
    height: 18%;
    color: black;
    font-size: 18px;
}


.addToCardModalContentsQuantityIncrementButtonContainer {
    /* border: 3px solid yellow; */
    width: 48%;
    height: 100%;
    color: black;
}

.addToCardModalContentsQuantityIncrementButton {
    /* border: 3px solid yellow; */
    width: 48%;
    height: 100%;
    color: black;
    border-radius: 55px;
}
    
.addToCardModalContentsProductTotal {
    border: 3px solid transparent;
    width: 98%;
    height: 18%;
    color: black;
}

.addToCardModalContentsCartContainer {
    width: 30%;
}

.addToCardModalContentsQuantityContainer {
    /* border: 3px solid orange; */
    width: 98%;
    /* height: 18%; */
    height: 32.7%;
    color: black;
    display: flex;
    justify-content: center;
}
    
.addToCardModalContentsQuantitySubContainer {
    /* border: 3px solid green; */
    width: 73.5%;
    top: 10.2px;
    position: relative;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
}

.addToCardModalContentsQuantityDecrementButtonContainer {
    width: 100%;
    height: 100%;
    color: black;
}

.addToCardModalContentsQuantityDecrementButton:hover, .addToCardModalContentsQuantityIncrementButton:hover {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}

.addToCardModalContentsQuantityDecrementButton {
    width: 48px;
    height: 48px;
    border-radius: 55px;
    color: black;
    transform: scale(0.7);
}

.addToCardModalContentsQuantityNumberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 100%;
    color: black;
}

.addToCardModalContentsQuantityNumberContainer {
    width: 100%;
    height: 67%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCardModalContentsQuantityNumber {
    font-size: 28px;
}
.addToCardModalContentsQuantityDecrementButtonImg {
    width: 60%;
    height: 100%;
    color: black;
    margin-left: 19px;
}

.addToCardModalContentsQuantityIncrementButtonContainer {
    width: 100%;
    height: 100%;
    color: black;
}

.addToCardModalContentsQuantityIncrementButton {
    width: 48px;
    height: 48px;
    color: black;
    transform: scale(.7);
}
.addToCardModalContentsQuantityIncrementButtonImg {
    width: 60%;
    height: 100%;
    color: black;
}

.addToCardModalContentsTotalContainer {
    /* border: 2px solid black; */
    height: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCardModalContentsTotal {
    /* border: 2px solid black; */
    height: 100%;
    font-size: 23px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCardModalContentsViewCartContainer {
    /* border: 2px solid black; */
    height: 23%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 11px;
}

.addToCardModalContentsViewCart {
    /* border: 2px solid black; */
    height: 64px;
    width: 150px;
    color: white;
    display: flex;
    /* background: url('./viewCartButton.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 0%; */
    background-color: #10283a;
    border-radius: 2px;
    font-family: orpheus-pro;
    justify-content: center;
    align-items: center;
}

.addToCardModalContentsViewCart:hover, .addToCardModalCheckout:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 10px 10px;
}

.addToCardModalContentsCheckoutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.addToCardModalCheckout {
    height: 100%;
    /* background: url('./checkoutButton.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    height: 64px;
    width: 150px;
    background-position: 0% 0%;
    background-color: transparent;
    /* border: 3px solid transparent; */
    font-family: orpheus-pro;
    color: white;
    background-color: #10283a;
    border-radius: 2px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCardModalViewCartButtonText {
    color: white;
    font-size: 21px;
}

.addToCardModalCheckoutButtonText {
    color: white;
    font-size: 24px;
}


