.productParent {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.productTitleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 9px;
}

.productTitle {

}

.productTilesContainerParent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.productTilesContainer {
    height: 100vh;
    width: 100vw;
}