.productParent {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.productMainTitleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 9px;
}

.productTitleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 9px;
    box-shadow: rgba(151, 151, 151, 0.35) 0px 5px 15px;

}

.productTitle {

}

.productTilesContainerParent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.productTilesContainer {
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
}

.productTileComponentContainer {
    display: flex;
    height: 300px;
    width: calc(50% - 4px);
    justify-content: center;
    align-items: center;
}