.productParent {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.productTitleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 9px;
}

.productTitle {
    font-family: orpheus-pro;
    font-size: 29px;
}

.productTilesContainerParent {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.productTilesContainer {
    height: 100vh;
    width: calc(80vw - 24px);
}